<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Team</title>
  </head>
  <body>
    <h1 style="font-weight:bold;">Team Name: <%= @values[0] %></h1>
    <h2 style="font-weight:bold;">Coach: <%= @values[1] %></h2>
    <h2 style="font-weight:bold;">Point Guard: <%= @values[2] %></h2>
    <h2 style="font-weight:bold;">Shooting Guard: <%= @values[3] %></h2>
    <h2 style="font-weight:bold;">Small Forward: <%= @values[4] %></h2>
    <h2 style="font-weight:bold;">Power Forward: <%= @values[5] %></h2>
    <h2 style="font-weight:bold;">Center: <%= @values[6] %></h2>
  </body>
</html>
