<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h2>Team Name: <%=@members[0]%></h2>

   <h3>Coach: <%= @members[1]%></h3>
   <h3>Point Guard: <%= @members[2]%></h3>
   <h3>Shooting Guard: <%= @members[3]%></h3>
   <h3>Power Forward: <%= @members[4]%></h3>
   <h3>Small Forward: <%= @members[5]%></h3>
   <h3>Center: <%= @members[6]%></h3>

 </body>
</html>
